<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>APP</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 100px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }
        #setProfilePic{
            width: 100px;
            height: 100px;
            border-radius:100%; 
            margin-left: auto;
            margin-right: auto;
        }
        #ppicContainer{
            box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
            background-image:url('');
            background-size:cover;
            background-position: center;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: ghostwhite;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>