<%- include('partials/header') %>
<div class="form-container">
    <h2>Register</h2>
    <hr/>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div id="ppicContainer">
        </div><br>

        <div class="form-group">
            <input type="file" id="myAdprofilepic" class="btn btn-lg btn-primary btn-block" accept="image/gif, image/jpeg, image/png" name="avatar">
        </div>

        <div class="form-group">
            <label for="firstName">First name: </label>
            <input type="text" name="firstName" id="firstName" class="form-control" value="<%= locals.firstName || '' %>" required />
        </div>

        <div class="form-group">
            <label for="lastName">Last name: </label>
            <input type="text" name="lastName" id="lastName" class="form-control" value="<%= locals.lastName || '' %>" required />
        </div>

        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>

        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" class="form-control" value="<%= locals.email || '' %>" required />
        </div>

        <hr/>
        <label for="mycolor" class="sr-onl">Favorite Color : </label>
        <select name="mycolor" id="myColors">
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>S
            <option value="Yellow">Yellow</option>
        </select>
        <a onclick="addColor()" class="btn btn-lg btn-primary btn-block">Add Color</a>
        <br/>
        <hr/>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" pattern=".{5,}" name="password" id="password" class="form-control" required />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<script>
        document.getElementById('myAdprofilepic').addEventListener('change', readURL, true);
        function readURL(){
            var file = document.getElementById("myAdprofilepic").files[0];
            var reader = new FileReader();
            reader.onloadend = function(){
            document.getElementById('ppicContainer').style.backgroundImage = "url(" + reader.result + ")";        
        }
        if(file){
            reader.readAsDataURL(file);
        }else{
    }
}
function addColor(){
    var datSelect = document.getElementById('myColors');
    var newOp = document.createElement('option');
    var myColor = prompt("Enter new Color!");

    newOp.text = myColor;
    newOp.value = myColor;
    
    datSelect.add(newOp);
}
</script>