<br>
<div id="ppicContainer"></div>
<br>
<h2>{{vm.user.firstName}} {{vm.user.lastName}}</h2> 
<br>
<p>Username: {{vm.user.username}}</p>
<p>Color: {{vm.user.mycolor}}</p>
<p>Email: {{vm.user.email}}</p>
<p>Password: ***</p>
