<h1>My Account</h1>
<div class="form-container">
    <form method="post">
        <div id="ppicContainer">
        </div><br>

        <div class="form-group">
            <input type="file" id="myAdprofilepic" class="btn btn-lg btn-primary btn-block" accept="image/gif, image/jpeg, image/png" name="avatar">
        </div>

        <div class="form-group">
            <label for="firstName">First name: </label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>

        <div class="form-group">
            <label for="lastName">Last name: </label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>

        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>

        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email" required />
        </div>

        <hr/>
        <label for="mycolor" class="sr-onl">Favorite Color : </label>
        <select name="mycolor" id="myColors">
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>S
            <option value="Yellow">Yellow</option>
        </select>
        <a onclick="addColor()" class="btn btn-lg btn-primary btn-block">Add Color</a>
        <br/>
        <hr/>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
        </div>
    </form>
</div>
 